@charset "utf-8";
body header h1 {
    text-align: center;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-style: normal;
    font-weight: 200;
}
body footer {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    /* [disabled]padding-bottom: 0px; */
    /* [disabled]border-width: medium; */
    clear: both;
}


.获奖专利 p {
    font-weight: 600;
}
body {

}
body img {
    margin-left: 15%;
}




.获奖专利 ol {
    font-weight: 400;
    font-size: small;
}
.中英文版本 {
    width: 20%;
    margin-right: 18%;
    margin-top: 7%;
    text-align: left;
    float: right;
}
.中文版 {
    color: #000000;
    text-decoration: none;
}
.分类栏 {
    margin-left: 15%;
    margin-right: 15%;
    font-size: large;
    background-color: #CCE511;
    text-align: center;
}
.Englishversion {
    color: #000000;
    text-decoration: none;
    margin-left: 0%;
    margin-right: 1%;
}
.新闻 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    color: #000000;
    text-decoration: none;
    margin-top: 0px;
}
.小标题 {
    font-size: large;
}

.主页左边 {
    width: 42%;
    float: left;
    margin-left: 15%;
}

.主页右边 {
    width: 55%;
    margin-right: 15%;
    float: right;
    clear: none;
}
.主页左下 {
    width: 34%;
    clear: both;
    float: left;
    margin-left: 15%;
}
.主页右下 {
    clear: right;
    float: right;
    width: 34%;
    margin-right: 15%;
}
.主标题 {
    margin-left: 15%;
}
.简介表格 {
    float: right;
    margin-right: 32%;
}
.主页链接 {
    color: #0801A2;
}
.加粗标题 {
    font-weight: 600;
}
.加粗 {
    font-weight: 600;
}
.english {
    float: right;
    margin-right: 18%;
}
.小字 {
    font-size: small;
}
.图片 {
    margin-left: 0%;
}
.主页图片 {
    margin-left: 15%;
    padding-left: 0%;
}
.内容图标 {
    margin-left: 0.1%;

}
.主页内容 {
    margin-left: 15%;
    margin-right: 15%;
}
.我的表格 {
    float: right;
    margin-right: 42%;
}
.彩蛋链接 {
    color: #FFFFFF;
    text-decoration: none;
}
.导航栏链接 {
    color: #000000;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 1%;
}
.获奖专利 {
    padding-left: 15%;
    padding-right: 15%;
}
